/* z-index table

#disable_page_div: 40
.popup: 45

game div
	game_board: 1
	- background image, canvas, nodes, added in order to ensure correct viewing
	- .player_token: 10 (11 for my player token)
	#place_info: 20
	#inventory: 15
	#search_div: 5
	#progress_div: 30

#contextmenu: 25

#dark_fade: 50
*/


html, body {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
}

body * {
	position: absolute;
	user-select: none;
}

body {
	font-family: Bilbo, serif;
}

p {
	margin: 0;
}


/* custom prompt and alert implementation ----------------------------- */
#disable_page_div {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.25);
	z-index: 40;
	display: none;
}

.popup {
	width: 300px;
	left: 0;
	right: 0;
	top: 10vh;
	margin: auto;
	background-color: bisque;
	border: 4px solid burlywood;
	padding: 12px;
	z-index: 45;
	display: none;
}

.popup * {
	font-family: serif;
	font-size: 18px;
	position: relative;
}

.popup p {
	width: 275px;
}

#prompt_input {
	margin-top: 12px;
	padding: 5px;
	width: calc(100% - 14px); /*there's a 2px border in addition to the padding => 14px total extra width*/
}

.popup .button_div {
	text-align: right;
}

.popup button {
	width: 70px;
	height: 40px;
	right: 0;
	border-radius: 10px;
	border: 1px solid #aaa;
	cursor: pointer;
	margin: 12px 0 0 12px;
}

.popup .ok_button {
	background-color: forestgreen;
	color: white;
}

/* home screen ----------------------------------------------------*/
#home_screen {
	display: none;
	width: 100vw;
	height: 100vh;
	background-image: url("./images/wondrous_woods.jpg");
	background-size: cover;
	background-position: center;
	position: fixed;
	text-align: center;
}

#home_screen * {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#home_screen_gradient {
	width: 100%;
	height: 100%;
	background-image: radial-gradient(transparent, black);
}

#home_screen h1 {
	bottom: 7vh;
	font-weight: normal;
	font-size: 10vh;
	color: white;
	text-shadow: 0 0 15px;
}

#player_display {
	width: 80vw;
	height: 60vh;
	top: 10vh;
}

.connected_player { /*divs will be added to the player display wrapper div as players join*/
	width: 36vh;
	height: 20vh;
	position: relative;
	display: inline-block;
	padding: 2vh 0 1vh 0;
	font-size: 3vh;
}

.connected_player img {
	width: 36vh;
	transform: scaleX(0.75);
	top: 13vh;
	left: 0;
	right: 0;
	margin: auto;
}

.connected_player > div {
	width: 16vh;
	height: 18vh;
	border-radius: 15vh;
	background-color: #fff8;
	left: 0;
	right: 0;
	margin: auto;
}

#home_screen .connected_player p {
	width: 0; /*seems to center the circletype*/
	top: 14.9vh;
	left: 2vh;
}

.connected_player p * {
	position: static; /*Otherwise all the letters of the circletype are on top of each other*/
}

#start_button {
	width: 50vh;;
	height: 4vh;
	font-size: 4vh;
	bottom: 4vh;
	cursor: pointer;
	color: white;
	text-shadow: 0 0 15px;
}

#start_button * {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	margin: 0 0.5vh 0 0.5vh;
}

#start_button img {
	height: 4vh;
}

#start_button img.flip {
	transform: scaleX(-1);
}

#start_button img.blur {
	display: none;
}

#start_button:hover {
	font-weight: bold;
}

#start_button:hover img.no_blur {
	display: none;
}

#start_button:hover img.blur {
	display: inline-block;
}

/* dark fade --------------------------------------------*/
#dark_fade {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	display: none;
	z-index: 50;
}

/* game div --------------------------------------------*/
#game_div {
	display: none;
}

/* game board ---------------------------------------*/

#game_board {
	z-index: 1;
}

#map_image {
	height: 1125px;
}

.node {
	height: 15px;
	width: 15px;
	border-radius: 15px;
	background-color: bisque;
	opacity: 0.6;
	transform: translate(-50%, -50%);
}


.player_token {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background-color: saddlebrown;
	border: 3px solid black;
	z-index: 10;
	transform: translate(-50%, -50%);
}

.player_token.draggable {
	cursor: move;
}

/* place info panel -------------------------------------*/

#place_info {
	height: 100vh;
	width: 20vw;
	left: 100vw;
	transform: translate(-100%, 0);
	background-color: bisque;
	border-left: 2px solid burlywood;
	border-right: 2px solid burlywood;
	text-align: center;
	font-size: 2.5vh;
	color: white;
	z-index: 20;
	background-size: cover;
}

#place_info * {
	position: relative;
}

#place_info #place_info_darkener {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

#place_title {
	height: 9vh;
	width: 85%;
	z-index: 5;
	background-color: #fffa;
	box-shadow: 0 0 2.1vh 2.1vh #fffa;
	color: black;
	border-radius: 3vh;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 2vh;
}

#place_name_display {
	margin-top: 0.5vh;
	font-size: 2em;
}

#place_info #top_line {
	border-top: 1px solid burlywood;
	position: absolute;
	width: 18vw;
	top: 14vh;
	left: 1vw;
}

#place_scroll_container {
	height: 85.5vh;
	margin-top: 3.5vh;
	padding: 0 1vw 0 1vw;
	overflow-y: auto;
}

#thing_display {
	border-bottom: 1px solid burlywood;
	min-height: 15vh;
	padding: 1.5vh 0 1.5vh 0;
}

#item_display_title {
	margin: 1vh;
}

/*note: the below item/thing styling is also used for the inventory*/
div.item-container, div.thing-container {
	margin: 0 0.65vw 3vh 0.65vw;
	display: inline-block;
	vertical-align: top;
}

div.item, div.thing, div.animator_circle {
	width: 4vw;
	height: 4vw;
	border-radius: 4vw;
	border: 1px solid burlywood;
	background-color: beige;
	background-size: cover;
	background-position: center;
}

div.item + p, div.thing + p {
	width: 4vw;
	font-family: serif;
	top: 0.5vw;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 0.8vw;
}


@keyframes expand {
	from {transform: scale(0);}
	to {transform: scale(1);}
}

.expand {
	animation-name: expand;
	animation-duration: 0.5s;
}

.contract {
	animation-name: expand;
	animation-duration: 0.5s;
	animation-direction: reverse;
}


/* contextmenu ------------------------------------------*/

#contextmenu {
	display: none;
	background-color: white;
	border: 1px solid lightgray;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
	z-index: 25;
}

#contextmenu div {
	font-family: sans-serif;
	position: static;
	border-bottom: 1px solid lightgray;
	padding: 5px;
	white-space: nowrap;
}

#contextmenu div:not(.action) {
	background-color: #eee;
}

#contextmenu div.action:hover {
	background-color: lightskyblue;
	cursor: pointer;
}


/* inventory ---------------------------------------------*/

#inventory {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,30,18,0.75);
	z-index: 15;
	display: none;
}

#inventory_display {
	width: 70vw;
	height: 90vh;
	left: 5vw;
	top: 5vh;
	background-color: saddlebrown;
	border: 5px solid saddlebrown;
}

#inventory_display table {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	background-color: saddlebrown;
}

#inventory_display table * {
	position: static;
}

#inventory_display h1 {
	font-size: 5.1vh;
	font-weight: normal;
	color: white;
	text-align: center;
	position: relative;
	top: -1vh;
}

#inventory_title {
	left: calc(0.5*(70vw - 33.6vh));
	transform: translate(-50%, 0);
}

#inventory_display tr:first-child td:first-child {
	height: 18vh;
	width: 32vh; /*We're scaling only by height changes, except for the inventory item title*/
	background-image: url("./images/goal_title.svg");
}
#inventory_display tr td:nth-child(2) {
	width: 1.6vh;
	background-image: url("./images/divider.svg");
	outline: 1px solid black;
}
#inventory_display tr:first-child td:nth-child(3) {
	width: 16.2vh;
	background-image: url("./images/inventory_title_left.svg");
}
#inventory_display tr:first-child td:nth-child(4) {
	background-image: url("./images/inventory_title_center.svg");
	background-size: auto 18vh;
}
#inventory_display tr:first-child td:nth-child(5) {
	width: 9.8vh;
	background-image: url("./images/inventory_title_right.svg");
}
#inventory_display tr:nth-child(2) td:first-child {
	background-image: url("./images/goal_item_background.svg");
	background-attachment: local;
	background-size: contain;
}
#inventory_display tr:nth-child(2) td:nth-child(3) {
	background-image: url("./images/parchment.svg");
}

#inventory_display td {
	background-size: cover;
}

.wreath {
	height: 11.2vh;
	top: -2vh;
}

#wreath_left {
	left: -6vh;
}

#wreath_right {
	transform: scaleX(-1);
	right: -6vh;
}

.vines {
	height: 37.6vh;
	top: 9.8vh;
}

#vines_tile {
	top: 9.8vh;
	left: 32vh;
	background-image: url("./images/vines_tile.svg");
	position: absolute;
	height: 17.6vh;
	width: calc(100% - 34vh);
	background-size: cover;
}

#vines_left {
	left: -3.7vh;
}

#vines_right {
	right: -5vh;
}

#inventory_items {
	max-width: 100%;
	height: 100%;
	padding: 9.5vh calc(1vw + 1vh) 3vh calc(1vw + 1vh);
	text-align: center;
	overflow-y: auto;
}

#inventory #inventory_items * {
	position: relative;
}

/*item styling for the inventory uses the same rules as the placeInfo board, see above*/



#place_info .animator_circle, #inventory #inventory_items .animator_circle {
	position: absolute;
	top: 0;
	box-shadow: 0 0 5px 5px white;
}



/* stuff relating to actions -------------------------------------------------*/

#search_div {
	width: 80vw; /*#place_info is 20vw wide*/
	height: 100vh;
	background-color: black;
	z-index: 5;
	background-size: cover;
	background-image: url('/static/images/prickly_pines.jpg');
	display: none;
}

@keyframes breathe {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

#search_div .search_target {
	opacity: 1; /*so they start off invisible before the animation kicks in*/
	border-radius: 5px;
	background-image: radial-gradient(closest-side, yellow, transparent 50%);
	cursor: pointer;
	/*animation-name: breathe;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;*/
	border: 3px solid orange;

	animation-delay: 0s; /*This should be set individually, so the targets breathe out of sync*/
	left: 50%;
	top: 50%;
	width: 1.5vh;
	height: 1.5vh;
}

.search_info {
	color: white;
	background-color: #000a;
	box-shadow: 0 0 5px 5px #000a;
	font-size: 18px;
	font-family: serif;
	border-radius: 10px;
	padding: 5px;
	white-space: pre;
	top: 10px;
}

#search_target_counter {
	left: 10px;
}

#leave_search_instructions {
	right: 10px;
}


/* progress div -------------------------------------------*/

#progress_div {
	width: 100vw;
	height: 100vh;
	z-index: 30;
	background-color: #fff8;
	display: none;
}

#progress_div * {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#activity_name {
	font-size: 6vh;
	top: 40vh;
}

#activity_progress {
	width: 80vh;
	height: 4vh;
	top: 50vh;
}
