/* z-index table

game_board - undefined
- background image, canvas, nodes, added in order to ensure correct viewing
- .player_token: 10 (11 for my player token)

*/


html, body {
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
}

body * {
	position: absolute;
	user-select: none;
}

body {
	font-family: sans-serif;
}

p {
	margin: 0;
}


/* home screen ----------------------------------------------------*/
#home_screen {
	display: none;
	width: 100vw;
	height: 100vh;
	background-color: lightblue;
	position: fixed;
}

#home_screen * {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#home_screen h1 {
	top: 10px;
}

#player_display {
	background-color: white;
	width: 80vw;
	height: 20vh;
	top: 60vh;
}

#player_display div { /*divs will be added to the player display wrapper div as players join*/
	position: relative;
	width: 100px;
	border: 1px solid gray;
	padding: 5px;
	display: inline-block;
	margin: 10px;
}

#start_button {
	width: 200px;
	font-size: 24px;
	top: 85vh;
	cursor: pointer;
}


/* game div --------------------------------------------*/
#game_div {
	display: none;
}

#game_div {
	font-family: Bilbo, serif;
}

/* game board ---------------------------------------*/

#map_image {
	height: 1125px;
}

.node {
	height: 15px;
	width: 15px;
	border-radius: 15px;
	background-color: bisque;
	opacity: 0.6;
	transform: translate(-50%, -50%);
}


.player_token {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	background-color: saddlebrown;
	border: 3px solid black;
	z-index: 10;
	transform: translate(-50%, -50%);
	cursor: move;
}

/* place info panel -------------------------------------*/

#place_info {
	height: 100vh;
	width: 20vw;
	left: 100vw;
	transform: translate(-100%, 0);
	background-color: bisque;
	border-left: 5px solid burlywood;
	text-align: center;
	font-size: 2.5vh;
}

#place_info * {
	position: relative;
}

#place_title {
	height: 12vh;
	width: 90%;
	left: 5%;
	border-bottom: 1px solid burlywood;
	background-color: inherit;
	position: fixed;
	z-index: 5;
}

#place_name_display {
	margin: 0.5vh;
	font-size: 2em;
}

#place_scroll_container {
	height: 100vh;
	padding: 0 1vw 0 1vw;
	overflow-y: auto;
}

#thing_display {
	border-bottom: 1px solid burlywood;
	min-height: 15vh;
	padding: 1.5vh 0 1.5vh 0;
	margin-top: 12vh;
}

#item_display_title {
	margin: 1vh;
}

#item_display > div, #thing_display > div {
	margin: 0 0.65vw 3vh 0.65vw;
	display: inline-block;
	vertical-align: top;
}

div.item, div.thing {
	width: 4vw;
	height: 4vw;
	border-radius: 4vw;
	border: 1px solid burlywood;
	background-color: beige;
}

div.item + p, div.thing + p {
	width: 4vw;
	font-family: serif;
	top: 0.5vw;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 0.8vw;
}


/* contextmenu ------------------------------------------*/

#contextmenu {
	display: none;
	background-color: white;
	border: 1px solid lightgray;
	box-shadow: 2px 2px 5px 0 #0005;
}

#contextmenu div {
	font-family: sans-serif;
	position: static;
	border-bottom: 1px solid lightgray;
	padding: 5px;
	white-space: nowrap;
}

#contextmenu div.action:hover {
	background-color: lightskyblue;
	cursor: pointer;
}
